/*meto un márgenes para que siempre haya espacio entre los li y el contenido multimedia haciendo que no se sobrepongan unos con otros*/
@media all and (max-width:1550px) {
    .contenido ul {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 20px;
    }
}

/*uso un display flex para que el contenido de la sección de cada coche ocupe todo el ancho*/
.coche {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: stretch;
}

/*aplico un color a todo el texto de cada sección de coches al igual que un padding*/
section {
    padding: 50px;
    color: white;
}

/*distinto gradiente en base de la marca/sección de coche*/
.bentley {
    background: linear-gradient(to bottom, white, black);
}

.lambo {
    background: linear-gradient(to bottom, black, gold);
}

.ferrari {
    background: linear-gradient(to bottom, gold, red, gray);
}

.mercedes {
    background: linear-gradient(to bottom, gray, white);

}

/*quito los bordes a los videos*/
iframe {
    border: none;
}

/*centro los elementos dentro de contenido con un flex*/
.contenido {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

ul {
    margin-top: 20px;
    margin-left: -100px;
}

.contenido li:first-child,
.contenido li:last-child {
    list-style-type: none;
}

/*creo el botón de cada coche ya que al ser un hipervinculo tengo que darle formato con las siguientes propiedadades, además cambio ciertas cosas de este
como que si pones el cursor encima , cambia el color del botón*/
.contenido li:last-child {
    margin-top: 40px;
    margin-left: 60px;
    background-color: white;
    border-radius: 7px;
    border: solid 1px black;
    display: inline-block;
    padding: 10px;
}

li:last-child a {
    color: black;
    text-decoration: none;
}

li:last-child:hover {
    background-color: red;
}

li:last-child:hover a {
    color: white;
    text-decoration: none;
}

.contenido li:first-child {
    margin-left: 40px;
}

li {
    font-size: x-large;
}

h1,
h2 {
    text-align: center;
}

/*alieo cada logo de marca de coche posicionandoló en el centro y de su eje x*/
.marca {
    height: 150px;
    width: 250px;
    align-self: center;
}

/*animación para cambiar fondos*/
@keyframes cambiaFondo {
    0% {
        background-image: url(../fondos/fondo1.jpg);
    }

    25% {
        background-image: url(../fondos/fondo2.jpg);
    }

    50% {
        background-image: url(../fondos/fondo3.jpg);
    }

    75% {
        background-image: url(../fondos/fondo4.jpg);
    }

    100% {
        background-image: url(../fondos/fondo1.jpg);
    }
}

/*animación para rotar rueda, usamos un transform rotate para que esté constantemente girando*/
@keyframes rotarRueda {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*animación mover el fondo y dar sensación de velocidad,nos desplazamos desde un extremo de la imagen a otro con el background-position*/
@keyframes moverFondo {
    0% {

        background-position: 0px 0px;
    }

    100% {
        background-position: -701px 0px;
    }
}

/*sección donde se cambia el fondo de coches , le doy un alto al igual que coloco todas las imágenes centrándolas y poniendo un borde inferior para separarlo de la siguiente sección*/
.cambiaCoches {
    border-bottom: 20px solid black;
    height: 500px;
    background-position: center;
    background-size: cover;
    animation: 30s cambiaFondo infinite linear;
}

/*sirve para darle un tamaño a la imagen del ferrari*/
.imagenCoche {
    width: 750px;
    margin-left: -100px;
}

/*creamos el espacio necesario para aplicar el fondo de la animación al igual que colocamos la estructura del coche con 
un flex para que aparezca encima de la carretera*/
#animacionCoche {

    width: 700px;
    background-size: 100% auto;
    display: flex;
    align-items: end;
    position: relative;
    animation: moverFondo 0.5s infinite linear;
    background-image: url(../fondos/fondo.jpg);
}

#animacionCoche img {
    width: 500px;
}

/*asignamos la animación de girar  a las ruedas del coche al igual que luego las posicionamos usando position absolute y luego calibrando con las propiedades top y left*/
#rueda1,
#rueda2 {
    position: absolute;
    animation: rotarRueda 0.2s infinite linear;
}

#rueda1 {
    top: 135px;
    left: 102px;
}

#rueda2 {
    top: 135px;
    left: -140px;
}

/*meto un padding y cambio las posiciones de las ruedas cuando el tamaño sea tan pequeño que la animación del coche tenga que irse un bloque abajo*/
@media all and (max-width:1225px) {
    #especial {
        margin-left: 40px;
        margin-right: 40px;
    }

    #rueda1 {
        top: 27px;
        left: 110px;
    }

    #rueda2 {
        top: 27px;
        left: -152px;
    }

    #animacionCoche {
        margin: 5px;
        width: 700px;
        background-repeat: repeat-x;
    }

    #animacionCoche img {
        margin-top: 70px;
        width: 540px;
    }
}